[submodule "web-tests/qa"]
	path = web-tests/qa
	url = git@git.sbermarket.tech:qa/qa.git
[submodule "web-tests/ab"]
	path = web-tests/ab
	url = git@git.sbermarket.tech:qa/ab-service.git
[submodule "web-tests/common"]
	path = web-tests/common
	url = git@git.sbermarket.tech:qa/common.git
[submodule "web-tests/qase"]
	path = web-tests/qase
	url = git@git.sbermarket.tech:qa/qase.git
