# Ignore build folders
**/.allure
**/.gradle
**/build
**/allure-results
**/logs
**/out
**/swagger-coverage-output

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore IntelliJ IDEA folder
.idea

# Ignore Mac DS_Store folder
.DS_Store

# Ignore key
**/key_*
# Ignore swagger coverage temporary files
**/.coverage/swagger-coverage-commandline-*/
**/.coverage/commandline.zip
