[submodule "qa"]
	path = qa
	url = https://gitlab.sbermarket.tech/qa/qa.git
	branch = master
[submodule "ab"]
	path = ab
	url = https://gitlab.sbermarket.tech/qa/ab-service.git
	branch = master
[submodule "common"]
	path = common
	url = https://gitlab.sbermarket.tech/qa/common.git
	branch = master
[submodule "qase"]
	path = qase
	url = https://gitlab.sbermarket.tech/qa/qase.git
	branch = master
