[submodule "qa"]
	path = qa
	url = ../qa.git
	branch = master
[submodule "ab"]
	path = ab
	url = ../ab-service.git
	branch = master
[submodule "common"]
	path = common
	url = ../common.git
	branch = master
[submodule "qase"]
	path = qase
	url = ../qase.git
	branch = master
