tests:ApiInstamart:
  only:
    variables:
      - $TEST_API_INSTAMART == 'true' && $CI_RUN_ALL_JOBS == 'false'
      - $CI_RUN_ALL_JOBS == 'true'
  extends:
    - ".template_api_tests"
    - ".template_run_all_jobs_at_a_time_on_master"
  resource_group: apiInstamart:$URL_STF_BACKEND
  when: manual
  script:
    - echo $P_ENV
    - echo $URL_STF_BACKEND
    - echo $URL_SHP
    - gradle clean build apiInstamartSmoke -Penv=$P_ENV -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL -Purl_stf=$URL_STF_BACKEND -Purl_shp=$URL_SHP
  after_script:
    - if [ $URL_STF_BACKEND == "stf-kraken.k-stage.sbermarket.tech" ]; then ALLURE_POSTFIX="preprod"; else ALLURE_POSTFIX="staging"; fi
    - echo $ALLURE_POSTFIX
    - bash ./report.sh api api-instamart-$ALLURE_POSTFIX-smoke

tests:ApiV2InstamartRegress:
  extends:
    - ".template_api_tests"
    - ".template_schedule"
  resource_group: apiInstamart:$URL_STF_BACKEND
  script:
    - echo $P_ENV
    - echo $URL_STF_BACKEND
    - echo $URL_SHP
    - gradle clean build apiV2InstamartRegress -Penv=$P_ENV -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL -Purl_stf=$URL_STF_BACKEND -Purl_shp=$URL_SHP
  after_script:
    - bash ./clean-directory.sh api api-instamart-preprod-regress
    - bash ./send-files.sh api api-instamart-preprod-regress

tests:ApiV1InstamartRegress:
  extends:
    - ".template_api_ui_tests"
    - ".template_schedule"
  resource_group: apiInstamartUI:$URL_STF_BACKEND
  script:
    - echo $P_ENV
    - echo $URL_STF_BACKEND
    - echo $URL_SHP
    - gradle clean build apiV1InstamartRegress -Penv=$P_ENV -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL -Purl_stf=$URL_STF_BACKEND -Purl_shp=$URL_SHP
  after_script:
    - bash ./send-files.sh api api-instamart-preprod-regress

tests:ApiV3InstamartRegress:
  extends:
    - ".template_api_ui_tests"
    - ".template_schedule"
  resource_group: apiInstamartUI:$URL_STF_BACKEND
  script:
    - echo $P_ENV
    - echo $URL_STF_BACKEND
    - echo $URL_SHP
    - gradle clean build apiV3InstamartRegress -Penv=$P_ENV -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL -Purl_stf=$URL_STF_BACKEND -Purl_shp=$URL_SHP
  after_script:
    - bash ./send-files.sh api api-instamart-preprod-regress

    #tests:preprodApiMetro:
    #  extends:
    #  - ".template_api_tests"
    # - ".template_prod"
    #  resource_group: apiInstamart:$URL_STF_BACKEND
    #  when: manual
    #  script:
    #    - gradle clean build apiInstamartRegress -Penv=metro-preprod -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
    #  after_script:
  #   - bash ./report.sh api api-metro-preprod-regress

tests:prodApiInstamart:
  extends:
    - ".template_api_tests"
    - ".template_run_all_jobs_at_a_time_on_master"
  when: delayed
  start_in: 6 minutes
  resource_group: apiInstamartProd
  script:
    - gradle clean build apiInstamartProduction -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
  after_script:
    - bash ./mattermost-report.sh api api-instamart-production-regress apiInstamartProduction

tests:prodApiInstamart:schedules:
  extends:
    - ".template_api_tests"
    - ".template_prod"
  resource_group: apiInstamartProd
  script:
    - gradle clean build apiInstamartProduction -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
  after_script:
    - bash ./mattermost-report.sh api api-instamart-production-regress apiInstamartProduction

    #tests:prodApiRetailer:
    #  extends:
    #  - ".template_api_tests"
    #  - ".template_prod"
    #  when: manual
    #  script:
    #    - gradle clean build apiRetailerE2E -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
    # after_script:
    #  - bash ./report.sh api api-retailer-e2e-production

tests:surge:
  resource_group: testSurge
  only:
    variables:
      - $API_SURGE_ALONE == 'true' && $CI_RUN_ALL_JOBS == 'false'
  extends:
    - ".template_api_tests"
  script:
    - gradle clean build apiSurge -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
  after_script:
    - bash ./report.sh api api-surge

tests:ris:exporter:
  extends:
    - ".template_api_tests"
  resource_group: testRisExporter
  only:
    variables:
      - $API_RIS_EXPORTER_ALONE == 'true' && $CI_RUN_ALL_JOBS == 'false'
  script:
    - gradle clean build apiRisExporter -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
  after_script:
    - bash ./report.sh api api-ris-exporter

tests:ris:exporter:schedule:
  extends:
    - ".template_api_tests"
    - ".template_schedule"
  stage:
    - tests-api-service
  resource_group: testRisExporter
  script:
    - gradle clean build apiRisExporter -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
  after_script:
    - bash ./report.sh api api-ris-exporter

tests:api:v3:notifications:
  resource_group: testApiV3Notifications
  only:
    variables:
      - $API_V3_NOTIFICATIONS == 'true' && $CI_RUN_ALL_JOBS == 'false'
  extends:
    - ".template_api_tests"
  script:
    - gradle clean build apiV3Notifications -Pqase=true -Pkey=$ATST_APP_SECRET_KEY -Ppip_url=$CI_PIPELINE_URL
  after_script:
    - bash ./report.sh api api-v3-notifications
