{
  "openapi": "3.0.1",
  "info": {
    "title": "Sbermarket API",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://admin.instamart.ru"
    }
  ],
  "paths": {
    "/api/stores/{store_id}/aggregating_categories": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        },
        {
          "$ref": "#/components/parameters/store_id"
        }
      ],
      "get": {
        "summary": "Получение пользовательских категорий",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Категории"
        ],
        "responses": {
          "200": {
            "description": "Пользовательские категории",
            "examples": {
              "application/json": {
                "aggregating_categories": [
                  {
                    "id": "buy-again",
                    "parent_id": null,
                    "type": "taxon",
                    "name": "Вы покупали ранее",
                    "slug": "buy-again",
                    "products_count": 1,
                    "icon_url": null,
                    "canonical_url": "https://instamart.ru/categories/buy-again",
                    "position": null,
                    "depth": null,
                    "appearance": {},
                    "is_promo": null,
                    "alt_icon": null,
                    "requirements": []
                  }
                ]
              }
            },
            "content": {}
          }
        }
      }
    },
    "/api/app_configurations/company_details": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "get": {
        "summary": "Получение настроек организации",
        "tags": [
          "Конфигурация приложения"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "examples": {
              "application/json": {
                "app_configuration_company": {
                  "company_phone": "4951206000",
                  "company_name": null,
                  "company_address": null,
                  "company_inn": null,
                  "company_kpp": null,
                  "company_ogrn": null,
                  "company_settlement_acc": null,
                  "company_bank": null,
                  "company_bik": null,
                  "company_correspondent_acc": null
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "app_configuration_company": {
                      "$ref": "#/components/schemas/tenant_contact"
                    }
                  },
                  "required": [
                    "app_configuration_company"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "unauthorized",
                    "field": null,
                    "message": "Вы не авторизованы"
                  }
                ],
                "code": 401
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/generic_error"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/categories": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        },
        {
          "$ref": "#/components/parameters/store_id"
        },
        {
          "name": "depth",
          "in": "query",
          "description": "Глубина поддерева категорий",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Получение дерева категорий",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Категории"
        ],
        "responses": {
          "200": {
            "description": "Дерево категорий",
            "examples": {
              "application/json": {
                "categories": [],
                "promoted_categories": []
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/taxon"
                      }
                    },
                    "promoted_categories": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "$ref": "#/components/schemas/taxon"
                      }
                    }
                  },
                  "required": [
                    "categories",
                    "promoted_categories"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/categories/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID категории",
          "schema": {
            "type": "string"
          }
        },
        {
          "$ref": "#/components/parameters/store_id"
        },
        {
          "name": "depth",
          "in": "query",
          "description": "Глубина поддерева категорий относительно запрошенной категории",
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "include",
          "in": "query",
          "description": "Список дополнительных ассоциаций категории",
          "example": "breadcrumbs",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Получение поддерева категорий по id категории",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Категории"
        ],
        "responses": {
          "200": {
            "description": "Категория с подкатегориями",
            "examples": {
              "application/json": {
                "category": {
                  "id": 188,
                  "parent_id": 186,
                  "type": "department",
                  "name": "Бакалея",
                  "slug": "produkty-pitaniia/bakalieia",
                  "products_count": 1,
                  "icon_url": null,
                  "canonical_url": "https://instamart.ru/categories/produkty-pitaniia/bakalieia",
                  "ad_banners": [],
                  "position": 0,
                  "depth": 1,
                  "appearance": {},
                  "is_promo": false,
                  "alt_icon": null,
                  "children": [
                    {
                      "id": 187,
                      "parent_id": 188,
                      "type": "taxon",
                      "name": "Чай",
                      "slug": "chai",
                      "products_count": 1,
                      "icon_url": null,
                      "canonical_url": "https://instamart.ru/categories/chai",
                      "ad_banners": [],
                      "position": 0,
                      "depth": 2,
                      "appearance": {},
                      "is_promo": false,
                      "alt_icon": null,
                      "requirements": []
                    }
                  ],
                  "requirements": []
                },
                "breadcrumbs": [
                  {
                    "id": 137,
                    "parent_id": null,
                    "type": "department",
                    "name": "Продукты питания",
                    "slug": "produkty-pitaniia",
                    "products_count": null,
                    "promo_services": [],
                    "icon_url": null,
                    "canonical_url": "https://instamart.ru/categories/produkty-pitaniia",
                    "position": 0,
                    "depth": 0,
                    "appearance": {},
                    "is_promo": false,
                    "alt_icon": null,
                    "requirements": []
                  },
                  {
                    "id": 139,
                    "parent_id": 137,
                    "type": "department",
                    "name": "Бакалея",
                    "slug": "produkty-pitaniia/bakalieia",
                    "products_count": null,
                    "promo_services": [],
                    "icon_url": null,
                    "canonical_url": "https://instamart.ru/categories/produkty-pitaniia/bakalieia",
                    "position": 0,
                    "depth": 1,
                    "appearance": {},
                    "is_promo": false,
                    "alt_icon": null,
                    "requirements": []
                  }
                ]
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "category": {
                    "$ref": "#/components/schemas/taxon"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/checkout/orders/{number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "get": {
        "summary": "Получение заказа",
        "tags": [
          "Checkout V3"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "Номер заказа",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Информация по заказу",
            "examples": {
              "application/json": {
                "order": {
                  "id": 126,
                  "number": "T20557",
                  "total": 0,
                  "promo_total": 0,
                  "total_discount": 0,
                  "item_count": 0,
                  "shipping_method_kind": "by_courier",
                  "total_weight": 0,
                  "shipping_methods": [
                    "by_courier",
                    "pickup"
                  ],
                  "is_alcohol": false,
                  "contacts": {
                    "normalized_phone": null,
                    "phone": null,
                    "email": "test1394@test.ru"
                  },
                  "payments": [],
                  "replacement_policy": null,
                  "payment_tool": null,
                  "address": null,
                  "shipments": [
                    {
                      "id": 99,
                      "cost": 0,
                      "promo": 0,
                      "discount": 0,
                      "number": "H82158171228",
                      "is_alcohol": false,
                      "item_total": 0,
                      "items_quantity": 0,
                      "alerts": [],
                      "total_weight": 0,
                      "checkout": true,
                      "item_count": 0,
                      "store": {
                        "id": 150,
                        "time_zone": "Europe/Moscow",
                        "on_demand": false,
                        "express_delivery": false,
                        "local_date": "2022-03-25"
                      },
                      "shipping_rate": null,
                      "delivery_window": null,
                      "retailer": {
                        "id": 142,
                        "name": "METRO1218",
                        "slug": "metro1218",
                        "color": "#003d7a",
                        "logo_background_color": "#003d7a",
                        "logo": "",
                        "available": true,
                        "environment": "production",
                        "retailer_agreement": {
                          "agreement_type": "oferta_b",
                          "url": "/oferta_b"
                        }
                      }
                    }
                  ],
                  "promotion_codes": []
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "examples": {
              "application/json": {
                "errors": {
                  "status": "401",
                  "title": "Failed to Login"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "title"
                      ]
                    }
                  },
                  "required": [
                    "errors"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Нет доступа",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "forbidden",
                    "field": null,
                    "message": "Пользователь не может выполнить это действие"
                  }
                ],
                "code": 403
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Не найден",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "not_found",
                    "field": null,
                    "message": "Заказ не существует"
                  }
                ],
                "code": 404
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Обновление данных заказа",
        "tags": [
          "Checkout V3"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "Номер заказа",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Обновление заказа",
            "examples": {
              "application/json": {
                "order": {
                  "id": 130,
                  "number": "T20561",
                  "total": 0,
                  "promo_total": 0,
                  "total_discount": 0,
                  "item_count": 0,
                  "shipping_method_kind": "by_courier",
                  "total_weight": 0,
                  "shipping_methods": [
                    "by_courier",
                    "pickup"
                  ],
                  "is_alcohol": false,
                  "contacts": {
                    "normalized_phone": "+7 495 111-22-33",
                    "phone": "74951112233",
                    "email": "new@email.com"
                  },
                  "payments": [],
                  "replacement_policy": {
                    "id": 59,
                    "description": "translation missing: ru.spree.replacement_policy_descriptions.desktop.call82"
                  },
                  "payment_tool": null,
                  "address": {
                    "id": 165,
                    "first_name": "Ivan",
                    "last_name": "Fedorov",
                    "full_address": "Москва, 120th street, 56 c.3, 1",
                    "city": "Москва",
                    "street": "120th street",
                    "building": "56 c.3",
                    "block": "1",
                    "entrance": "1",
                    "floor": "1",
                    "apartment": "1",
                    "comments": null,
                    "lat": 5,
                    "lon": 5,
                    "kind": null,
                    "door_phone": "1",
                    "delivery_to_door": true
                  },
                  "shipments": [
                    {
                      "id": 102,
                      "cost": 0,
                      "promo": 0,
                      "discount": 0,
                      "number": "H33378782640",
                      "is_alcohol": false,
                      "item_total": 0,
                      "items_quantity": 0,
                      "alerts": [],
                      "total_weight": 0,
                      "checkout": true,
                      "item_count": 0,
                      "store": {
                        "id": 153,
                        "time_zone": "Europe/Moscow",
                        "on_demand": false,
                        "express_delivery": false,
                        "local_date": "2022-03-25"
                      },
                      "shipping_rate": null,
                      "delivery_window": null,
                      "retailer": {
                        "id": 145,
                        "name": "METRO1227",
                        "slug": "metro1227",
                        "color": "#003d7a",
                        "logo_background_color": "#003d7a",
                        "logo": "",
                        "available": true,
                        "environment": "production",
                        "retailer_agreement": {
                          "agreement_type": "oferta_b",
                          "url": "/oferta_b"
                        }
                      }
                    }
                  ],
                  "promotion_codes": []
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "examples": {
              "application/json": {
                "errors": {
                  "status": "401",
                  "title": "Failed to Login"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "title"
                      ]
                    }
                  },
                  "required": [
                    "errors"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Нет доступа",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "forbidden",
                    "field": null,
                    "message": "Пользователь не может выполнить это действие"
                  }
                ],
                "code": 403
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Не найден",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "not_found",
                    "field": null,
                    "message": "Заказ не существует"
                  }
                ],
                "code": 404
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "object",
                    "description": "Данные заказа"
                  },
                  "shipment_numbers": {
                    "type": "array",
                    "description": "Номера шипментов, которые сейчас на оформлении",
                    "items": {
                      "type": "string",
                      "example": "H123456789"
                    }
                  }
                },
                "required": [
                  "order",
                  "shipment_numbers"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v3/checkout/orders/{number}/initialization": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "post": {
        "summary": "Инициализация чекаута",
        "tags": [
          "Checkout V3"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "Номер заказа",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Информация по заказу",
            "examples": {
              "application/json": null
            },
            "content": {}
          },
          "401": {
            "description": "Не авторизован",
            "examples": {
              "application/json": {
                "errors": {
                  "status": "401",
                  "title": "Failed to Login"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "title"
                      ]
                    }
                  },
                  "required": [
                    "errors"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Нет доступа",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "forbidden",
                    "field": null,
                    "message": "Пользователь не может выполнить это действие"
                  }
                ],
                "code": 403
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Не найден",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "not_found",
                    "field": null,
                    "message": "Заказ не существует"
                  }
                ],
                "code": 404
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Заказ не валиден",
            "examples": {
              "application/json": {
                "type": "unavailable_ship_address",
                "title": "Указанный адрес не входит в зону доставки магазина METRO1251, 221th street. Обновите адрес доставки.",
                "status": 422
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipment_numbers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "H123456789"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/checkout/orders/{number}/validation": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "get": {
        "summary": "Валидация чекаута",
        "tags": [
          "Checkout V3"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "Номер заказа",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Заказ готов к оформлению",
            "examples": {
              "application/json": null
            },
            "content": {}
          },
          "401": {
            "description": "Не авторизован",
            "examples": {
              "application/json": {
                "errors": {
                  "status": "401",
                  "title": "Failed to Login"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "title"
                      ]
                    }
                  },
                  "required": [
                    "errors"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Нет доступа",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "forbidden",
                    "field": null,
                    "message": "Пользователь не может выполнить это действие"
                  }
                ],
                "code": 403
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Не найден",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "not_found",
                    "field": null,
                    "message": "Заказ не существует"
                  }
                ],
                "code": 404
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "field": {
                              "type": "null"
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "field",
                            "message"
                          ]
                        }
                      ]
                    },
                    "code": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "errors",
                    "code"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Заказ не валиден",
            "examples": {
              "application/json": {
                "type": "unavailable_ship_address",
                "title": "Указанный адрес не входит в зону доставки магазина METRO1266, 222th street. Обновите адрес доставки.",
                "status": 422
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/checkout/replacement_policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "get": {
        "summary": "Получение способов замены",
        "tags": [
          "Checkout V3"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Список способов замены",
            "examples": {
              "application/json": {
                "replacement_policies": [
                  {
                    "id": 63,
                    "description": "Не звонить мне. Убрать из заказа"
                  }
                ]
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "replacement_policies": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "description"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "replacement_policies"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/checkout/shipments/{shipment_number}/shipping_rates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "get": {
        "summary": "Получение слотов доставки",
        "tags": [
          "Checkout V3"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "name": "shipment_number",
            "in": "path",
            "description": "Номер шипмента",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список слотов",
            "examples": {
              "application/json": {
                "shipping_rates": [
                  {
                    "total_value": 490,
                    "value": 490,
                    "is_boost": false,
                    "is_drop": false,
                    "is_free": false,
                    "is_express_delivery": false,
                    "delivery_window": {
                      "id": 124,
                      "starts_at": "2022-03-25T06:00:00.000+03:00",
                      "ends_at": "2022-03-25T06:00:00.000+03:00",
                      "weight_balance": 400000,
                      "items_count_balance": 300,
                      "kind": "courier",
                      "delivery_forecast_text": null,
                      "estimate_source": "one_hour_slot",
                      "estimate_minutes_min": 60,
                      "estimate_minutes_max": 60,
                      "lifetime": null,
                      "is_express_delivery": false,
                      "available_for_tinkoff_dolyame": true,
                      "time_zone": "Europe/Moscow",
                      "human_interval": "06:00–06:00",
                      "date": "2022-03-25",
                      "available": true
                    }
                  }
                ],
                "meta": {
                  "available_days": [
                    "2022-03-25",
                    "2022-03-26"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shipping_rates": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "total_value": {
                              "type": "number"
                            },
                            "value": {
                              "type": "number"
                            },
                            "is_boost": {
                              "type": "boolean"
                            },
                            "is_drop": {
                              "type": "boolean"
                            },
                            "is_free": {
                              "type": "boolean"
                            },
                            "is_express_delivery": {
                              "type": "boolean"
                            },
                            "delivery_window": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "starts_at": {
                                  "type": "string"
                                },
                                "ends_at": {
                                  "type": "string"
                                },
                                "weight_balance": {
                                  "type": "integer"
                                },
                                "items_count_balance": {
                                  "type": "integer"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "delivery_forecast_text": {
                                  "type": null
                                },
                                "estimate_source": {
                                  "type": "string"
                                },
                                "estimate_minutes_min": {
                                  "type": "integer"
                                },
                                "estimate_minutes_max": {
                                  "type": "integer"
                                },
                                "lifetime": {
                                  "type": null
                                },
                                "is_express_delivery": {
                                  "type": "boolean"
                                },
                                "available_for_tinkoff_dolyame": {
                                  "type": "boolean"
                                },
                                "time_zone": {
                                  "type": "string"
                                },
                                "human_interval": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "available_days": {
                          "type": "array",
                          "items": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "shipping_rates",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/current_time": {
      "get": {
        "summary": "Текущее серверное время",
        "tags": [
          "CurrentServerTime"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/api_version"
          }
        ],
        "responses": {
          "200": {
            "description": "Получение серверного времени",
            "examples": {
              "application/json": {
                "current_time": "2022-03-25T13:41:43.534+03:00"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_time": {
                      "type": "string",
                      "description": "Текущее серверное время",
                      "example": "2021-05-13T10:24:23.802+03:00"
                    }
                  },
                  "required": [
                    "current_time"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/departments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/client_token"
        },
        {
          "$ref": "#/components/parameters/session_token"
        },
        {
          "$ref": "#/components/parameters/store_id"
        },
        {
          "name": "offers_limit",
          "in": "query",
          "description": "Ограничение по числу продуктов в категориях",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Получение списка департаментов",
        "tags": [
          "Департаменты"
        ],
        "responses": {
          "200": {
            "description": "Список департаментов",
            "examples": {
              "application/json": {
                "promo_badges": [
                  {
                    "id": 1,
                    "type": "sberprime",
                    "attributes": {
                      "name": "sberprime",
                      "options": {
                        "active": {
                          "title": "-10% со СберПрайм",
                          "title_short": "-10%",
                          "tooltip": "На товар есть скидка по промокоду PRIME",
                          "url": "https://instamart.ru/metro/c/tolko-dlia-podpischikov-praim?sid=181",
                          "button_text": "Все товары со скидкой"
                        },
                        "inactive": {
                          "title": "-10% со СберПрайм",
                          "title_short": "-10%",
                          "tooltip": "Скидка на этот и сотни других товаров — для подписчиков СберПрайм",
                          "url": "https://sberbank.ru/sms/prime?utm_source=sbermarket&utm_medium=badgesweb&utm_campaign=prime",
                          "button_text": "Узнать про подписку"
                        }
                      }
                    }
                  }
                ],
                "favorite_products": null,
                "deals": null,
                "purchased": null,
                "departments": [
                  {
                    "id": 283,
                    "type": "taxon",
                    "name": "Чай",
                    "slug": "chai",
                    "products_count": 1,
                    "icon_url": null,
                    "products": [
                      {
                        "id": "0000000408",
                        "legacy_offer_id": 305,
                        "legacy_product_id": 302,
                        "sku": "20669",
                        "retailer_sku": "0000000408",
                        "name": "Ахмад",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "akhmad",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20669-akhmad",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [
                          1
                        ],
                        "image_urls": [],
                        "requirements": []
                      }
                    ]
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "total_pages": 1,
                  "per_page": 10,
                  "total_count": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/department"
                      }
                    },
                    "promo_badges": {
                      "description": "Список бейджей",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/promo_badge"
                      }
                    }
                  }
                }
              }
            }
          },
          "ok": {
            "description": "Список департаментов",
            "examples": {
              "application/json": {
                "promo_badges": [],
                "favorite_products": null,
                "deals": null,
                "purchased": {
                  "type": "taxon",
                  "name": "Вы покупали ранее",
                  "slug": "buy-again",
                  "products_count": 1,
                  "icon_url": null,
                  "products": [
                    {
                      "id": "0000000364",
                      "legacy_offer_id": 261,
                      "legacy_product_id": 261,
                      "sku": "20628",
                      "retailer_sku": "0000000364",
                      "name": "Product #275",
                      "price": 1000,
                      "original_price": 1000,
                      "discount": 0,
                      "human_volume": "100 г.",
                      "volume": 100,
                      "volume_type": "weight",
                      "items_per_pack": 1,
                      "discount_ends_at": null,
                      "slug": "product-275",
                      "max_select_quantity": 999,
                      "canonical_url": "https://instamart.ru/products/20628-product-275",
                      "available": true,
                      "vat_info": null,
                      "promo_badge_ids": [],
                      "image_urls": [],
                      "requirements": []
                    }
                  ]
                },
                "departments": [
                  {
                    "id": 223,
                    "type": "taxon",
                    "name": "Чай",
                    "slug": "chai",
                    "products_count": 6,
                    "icon_url": null,
                    "products": [
                      {
                        "id": "0000000354",
                        "legacy_offer_id": 251,
                        "legacy_product_id": 251,
                        "sku": "20617",
                        "retailer_sku": "0000000354",
                        "name": "Ахмад",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "akhmad",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20617-akhmad",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      },
                      {
                        "id": "0000000359",
                        "legacy_offer_id": 256,
                        "legacy_product_id": 256,
                        "sku": "20622",
                        "retailer_sku": "0000000359",
                        "name": "Product #270",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "product-270",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20622-product-270",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      },
                      {
                        "id": "0000000360",
                        "legacy_offer_id": 257,
                        "legacy_product_id": 257,
                        "sku": "20623",
                        "retailer_sku": "0000000360",
                        "name": "Product #271",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "product-271",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20623-product-271",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      },
                      {
                        "id": "0000000361",
                        "legacy_offer_id": 258,
                        "legacy_product_id": 258,
                        "sku": "20624",
                        "retailer_sku": "0000000361",
                        "name": "Product #272",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "product-272",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20624-product-272",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      },
                      {
                        "id": "0000000362",
                        "legacy_offer_id": 259,
                        "legacy_product_id": 259,
                        "sku": "20625",
                        "retailer_sku": "0000000362",
                        "name": "Product #273",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "product-273",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20625-product-273",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      },
                      {
                        "id": "0000000363",
                        "legacy_offer_id": 260,
                        "legacy_product_id": 260,
                        "sku": "20626",
                        "retailer_sku": "0000000363",
                        "name": "Product #274",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "product-274",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20626-product-274",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      }
                    ]
                  },
                  {
                    "id": 227,
                    "type": "department",
                    "name": "Крепкий алкоголь",
                    "slug": "kriepkii-alkoghol",
                    "products_count": 1,
                    "icon_url": null,
                    "products": [
                      {
                        "id": "0000000357",
                        "legacy_offer_id": 254,
                        "legacy_product_id": 254,
                        "sku": "20620",
                        "retailer_sku": "0000000357",
                        "name": "Jameson",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "jameson",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20620-jameson",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      }
                    ]
                  },
                  {
                    "id": 229,
                    "type": "taxon",
                    "name": "Вино",
                    "slug": "vino",
                    "products_count": 1,
                    "icon_url": null,
                    "products": [
                      {
                        "id": "0000000355",
                        "legacy_offer_id": 252,
                        "legacy_product_id": 252,
                        "sku": "20618",
                        "retailer_sku": "0000000355",
                        "name": "Монастырское",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "monastyrskoie",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20618-monastyrskoie",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      }
                    ]
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "total_pages": 1,
                  "per_page": 10,
                  "total_count": 3
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/department"
                      }
                    },
                    "promo_badges": {
                      "description": "Список бейджей",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/promo_badge"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/departments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/client_token"
        }
      ],
      "get": {
        "summary": "Получение информации о категории",
        "tags": [
          "Департаменты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/store_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID категории",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offers_limit",
            "in": "query",
            "description": "Ограничение по числу продуктов в подкатегориях",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Страница подкатегорий (пагинация)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Число подкатегорий на странице (пагинация)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о категории",
            "examples": {
              "application/json": {
                "promo_badges": [],
                "favorite_products": null,
                "department": {
                  "id": 344,
                  "type": "department",
                  "name": "Бакалея",
                  "slug": "produkty-pitaniia/bakalieia",
                  "products_count": 1,
                  "icon_url": null
                },
                "departments": [
                  {
                    "id": 343,
                    "type": "taxon",
                    "name": "Чай",
                    "slug": "chai",
                    "products_count": 1,
                    "icon_url": null,
                    "products": [
                      {
                        "id": "0000000443",
                        "legacy_offer_id": 340,
                        "legacy_product_id": 337,
                        "sku": "20704",
                        "retailer_sku": "0000000443",
                        "name": "Ахмад",
                        "price": 1236.7,
                        "original_price": 1236.7,
                        "discount": 0,
                        "human_volume": "100 г.",
                        "volume": 100,
                        "volume_type": "weight",
                        "items_per_pack": 1,
                        "discount_ends_at": null,
                        "slug": "akhmad",
                        "max_select_quantity": 999,
                        "canonical_url": "https://instamart.ru/products/20704-akhmad",
                        "available": true,
                        "vat_info": null,
                        "promo_badge_ids": [],
                        "image_urls": [],
                        "requirements": []
                      }
                    ]
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "total_pages": 1,
                  "per_page": 25,
                  "total_count": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "department": {
                      "$ref": "#/components/schemas/department"
                    },
                    "promo_badges": {
                      "description": "Список бейджей",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/promo_badge"
                      }
                    }
                  }
                }
              }
            }
          },
          "ok": {
            "description": "Информация о категории",
            "examples": {
              "application/json": {
                "promo_badges": [],
                "favorite_products": null,
                "department": {
                  "id": 332,
                  "type": "department",
                  "name": "Бакалея",
                  "slug": "produkty-pitaniia/bakalieia",
                  "products_count": 1,
                  "icon_url": null
                },
                "departments": [],
                "meta": {
                  "current_page": 2,
                  "total_pages": 1,
                  "per_page": 1,
                  "total_count": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/department"
                      }
                    },
                    "promo_badges": {
                      "description": "Список бейджей",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/promo_badge"
                      }
                    },
                    "department": {
                      "$ref": "#/components/schemas/department"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/favorites_list/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        },
        {
          "$ref": "#/components/parameters/store_id"
        }
      ],
      "get": {
        "summary": "Список избранного пользователя",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Избранные товары"
        ],
        "parameters": [
          {
            "name": "retailer_skus",
            "description": "Список retailer_sku продуктов через запятую",
            "example": "1,2,45,234,45,3",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список избранного пользователя",
            "examples": {
              "application/json": {
                "retailer_skus": [
                  "0000000453"
                ]
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "retailer_skus": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "retailer SKU оффера"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Добавить позицию в список избранного пользователя",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Избранные товары"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Добавленная позиция избранного",
            "examples": {
              "application/json": {
                "item": {
                  "id": 5,
                  "name": "Product #309",
                  "sku": "20717",
                  "product_id": 350,
                  "product": {
                    "id": "0000000456",
                    "legacy_offer_id": 353,
                    "legacy_product_id": 350,
                    "sku": "20717",
                    "retailer_sku": "0000000456",
                    "name": "Product #309",
                    "price": 1236.7,
                    "original_price": 1236.7,
                    "discount": 0,
                    "human_volume": "100 г",
                    "volume": 100,
                    "volume_type": "weight",
                    "items_per_pack": 1,
                    "discount_ends_at": null,
                    "slug": "product-309",
                    "max_select_quantity": 999,
                    "canonical_url": "https://instamart.ru/products/20717-product-309",
                    "available": true,
                    "vat_info": null,
                    "promo_badge_ids": [],
                    "image_urls": [],
                    "requirements": []
                  },
                  "image": null
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "item": {
                    "$ref": "#/components/schemas/favorite_list_item"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item": {
                    "type": "object",
                    "properties": {
                      "retailer_sku": {
                        "type": "integer",
                        "description": "retailer_sku продукта",
                        "example": "1"
                      }
                    },
                    "required": [
                      "retailer_sku"
                    ]
                  }
                },
                "required": [
                  "item"
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Добавить/удалить позицию в списке избранного пользователя",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Избранные товары"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Добавленная позиция избранного",
            "examples": {
              "application/json": null
            },
            "content": {
              "application/json": {
                "schema": {
                  "item": {
                    "$ref": "#/components/schemas/favorite_list_item"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item": {
                    "type": "object",
                    "properties": {
                      "retailer_sku": {
                        "type": "integer",
                        "description": "retailer_sku продукта",
                        "example": "1"
                      },
                      "is_favorite": {
                        "type": "boolean",
                        "description": "Добавить или убрать продукт из списка избранного"
                      }
                    },
                    "required": [
                      "retailer_sku",
                      "is_favorite"
                    ]
                  }
                },
                "required": [
                  "item"
                ]
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/favorites_list/items/{retailer_sku}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        },
        {
          "$ref": "#/components/parameters/store_id"
        }
      ],
      "delete": {
        "summary": "Удалить позицию из списка избранного пользователя",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Избранные товары"
        ],
        "parameters": [
          {
            "name": "retailer_sku",
            "in": "path",
            "required": true,
            "description": "SKU продукта",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное удаление позиции из списка избранного пользователя",
            "examples": {
              "application/json": null
            },
            "content": {}
          }
        }
      }
    },
    "/api/feature_flags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        }
      ],
      "get": {
        "summary": "Получение списка фича-флагов",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Feature flags"
        ],
        "responses": {
          "ok": {
            "description": "Список фич-флагов",
            "examples": {
              "application/json": {
                "feature_flags": [
                  {
                    "name": "top_carousel_image_banner",
                    "enabled": false
                  },
                  {
                    "name": "new_category_banners_main",
                    "enabled": false
                  },
                  {
                    "name": "new_recommendations_main_page",
                    "enabled": false
                  },
                  {
                    "name": "new_recommendations_not_found_page",
                    "enabled": false
                  },
                  {
                    "name": "new_recommendations_product_card",
                    "enabled": false
                  },
                  {
                    "name": "shipment_status_polling_v2",
                    "enabled": false
                  },
                  {
                    "name": "new_category_banners_store",
                    "enabled": false
                  },
                  {
                    "name": "transfer_session",
                    "enabled": false
                  },
                  {
                    "name": "transfer_cart",
                    "enabled": false
                  },
                  {
                    "name": "prereplacements",
                    "enabled": false
                  },
                  {
                    "name": "show_only_available_delivery_windows_on_checkout",
                    "enabled": false
                  },
                  {
                    "name": "fetch_menu_categories_initially",
                    "enabled": false
                  },
                  {
                    "name": "android_flat_catalog_v2",
                    "enabled": false
                  },
                  {
                    "name": "ios_flat_catalog_v2",
                    "enabled": false
                  },
                  {
                    "name": "is_sms_retriever_enabled_android",
                    "enabled": false
                  },
                  {
                    "name": "checkout_web_new",
                    "enabled": false
                  },
                  {
                    "name": "facebook_auth_enabled",
                    "enabled": false
                  },
                  {
                    "name": "eta_block_without_cart_android",
                    "enabled": false
                  },
                  {
                    "name": "eta_block_with_cart_android",
                    "enabled": false
                  },
                  {
                    "name": "is_native_products_list_android",
                    "enabled": false
                  },
                  {
                    "name": "multiretailer_ios",
                    "enabled": false
                  },
                  {
                    "name": "multiretailer_android",
                    "enabled": false
                  },
                  {
                    "name": "android_account_addresses",
                    "enabled": false
                  },
                  {
                    "name": "android_facebook_auth",
                    "enabled": false
                  },
                  {
                    "name": "pre_replacements_ios",
                    "enabled": false
                  },
                  {
                    "name": "pre_replacements_android",
                    "enabled": false
                  }
                ]
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feature_flags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/feature_flag"
                      }
                    }
                  },
                  "required": [
                    "feature_flags"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/feature_flags/{name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "$ref": "#/components/parameters/session_token"
        },
        {
          "name": "name",
          "in": "path",
          "description": "Ключ фича флага",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Получение фича-флага по ключу",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Feature flags"
        ],
        "responses": {
          "not_found": {
            "description": "Фиче-флаг не найден",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "not_found",
                    "field": null,
                    "message": "ActiveRecord::RecordNotFound"
                  }
                ],
                "code": 404
              }
            },
            "content": {}
          },
          "ok": {
            "description": "Фиче-флаг получен",
            "examples": {
              "application/json": {
                "feature_flag": {
                  "name": "pre_replacements_android",
                  "enabled": true
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feature_flag": {
                      "$ref": "#/components/schemas/feature_flag"
                    }
                  },
                  "required": [
                    "feature_flag"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{store_id}/marketing_categories/{marketing_category_id}/products": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "summary": "Получение списка продуктов категории",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Маркетинговые категории"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/store_id"
          },
          {
            "name": "marketing_category_id",
            "in": "path",
            "description": "ID маркетинговой категории",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список продуктов маркетинговой категории",
            "examples": {
              "application/json": {
                "products": [
                  {
                    "id": "0000000467",
                    "legacy_offer_id": 365,
                    "legacy_product_id": 360,
                    "sku": "20727",
                    "retailer_sku": "0000000467",
                    "name": "Product #319",
                    "price": 1236.7,
                    "original_price": 1236.7,
                    "discount": 0,
                    "human_volume": "100 г",
                    "volume": 100,
                    "volume_type": "weight",
                    "items_per_pack": 1,
                    "discount_ends_at": null,
                    "price_type": "per_kilo",
                    "grams_per_unit": 500,
                    "unit_price": 1236.7,
                    "original_unit_price": 1236.7,
                    "slug": "product-319",
                    "max_select_quantity": 999,
                    "canonical_url": "https://instamart.ru/products/20727-product-319",
                    "available": true,
                    "vat_info": null,
                    "promo_badge_ids": [
                      1
                    ],
                    "image_urls": [],
                    "requirements": []
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "total_pages": 1,
                  "per_page": 20,
                  "total_count": 1
                },
                "promo_badges": [
                  {
                    "id": 1,
                    "type": "sberprime",
                    "attributes": {
                      "name": "sberprime",
                      "options": {
                        "active": {
                          "title": "-10% со СберПрайм",
                          "title_short": "-10%",
                          "tooltip": "На товар есть скидка по промокоду PRIME",
                          "url": "https://instamart.ru/metro/c/tolko-dlia-podpischikov-praim?sid=204",
                          "button_text": "Все товары со скидкой"
                        },
                        "inactive": {
                          "title": "-10% со СберПрайм",
                          "title_short": "-10%",
                          "tooltip": "Скидка на этот и сотни других товаров — для подписчиков СберПрайм",
                          "url": "https://sberbank.ru/sms/prime?utm_source=sbermarket&utm_medium=badgesweb&utm_campaign=prime",
                          "button_text": "Узнать про подписку"
                        }
                      }
                    }
                  }
                ]
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "products",
                    "promo_badges"
                  ],
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/offer"
                      }
                    },
                    "promo_badges": {
                      "description": "Список бейджей",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/promo_badge"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/marketing_categories": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "summary": "Получение списка маркетинговых категорий",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Маркетинговые категории"
        ],
        "responses": {
          "ok": {
            "description": "Список маркетинговых категорий",
            "examples": {
              "application/json": {
                "marketing_categories": [
                  {
                    "id": 3,
                    "name": "Маркетинговая категория №2",
                    "slug": "mega-category-2",
                    "banner_url": null
                  }
                ]
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketing_categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/marketing_category"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/marketing_categories/{id}": {
      "get": {
        "summary": "Получение маркетинговой категории",
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "tags": [
          "Маркетинговые категории"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/api_version"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID категории",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "ok": {
            "description": "Маркетинговая категория",
            "examples": {
              "application/json": {
                "marketing_category": {
                  "id": 5,
                  "name": "Маркетинговая категория №4",
                  "slug": "mega-category-4",
                  "banner_url": null
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketing_category": {
                      "$ref": "#/components/schemas/marketing_category"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/notifications": {
      "post": {
        "summary": "Отправка события",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/api_version"
          }
        ],
        "responses": {
          "200": {
            "description": "Событие обработано",
            "examples": {
              "application/json": null
            },
            "content": {}
          },
          "401": {
            "description": "Не авторизован",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "unauthorized",
                    "field": null,
                    "message": "Вы не авторизованы"
                  }
                ],
                "code": 401
              }
            },
            "content": {}
          },
          "422": {
            "description": "Требуемые данные отсутствуют или некорректны",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "type": "unprocessable_entity",
                    "field": "event",
                    "message": {
                      "type": [
                        "отсутствует"
                      ]
                    }
                  }
                ]
              }
            },
            "content": {}
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "description": "Событие",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/paid_order_event"
                      }
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Тип события",
                        "example": "order.paid",
                        "maxLength": 255
                      },
                      "payload": {
                        "type": "object",
                        "description": "Параметры события",
                        "properties": {
                          "order_id": {
                            "type": "string",
                            "description": "Идентификатор заказа в формате \"retailer_slug:uuid\"",
                            "example": "metro:order_uuid",
                            "maxLength": 255
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "event"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v3/order_options/delivery": {
      "put": {
        "summary": "Возвращает возможные опции заказа для доставки",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "client_token_auth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/api_version"
          }
        ],
        "responses": {
          "200": {
            "description": "Данные валидны",
            "examples": {
              "application/json": {
                "optionals": [],
                "store_id": "068818ea-e593-40b3-ba7a-63afe7897335",
                "payment_methods": [
                  {
                    "type": "cash",
                    "title": "Check",
                    "options": [
                      {
                        "id": "ebYiTcoBVipyEPqQc82gBhpPXtKco+kVLV8a2Sl/xv0=",
                        "name": "Наличными курьеру"
                      }
                    ]
                  }
                ],
                "shipping_methods": [
                  {
                    "type": "by_courier",
                    "options": [
                      {
                        "id": "by_courier:170832e5-1885-43f5-9b5e-2a538a618a43",
                        "price": 49000,
                        "original_price": 49000,
                        "starts_at": "2022-03-25T14:42:04.000+03:00",
                        "ends_at": "2022-03-25T14:42:04.000+03:00"
                      }
                    ]
                  }
                ],
                "replacement_options": []
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_options_response"
                }
              }
[...]
