<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG__FILE" value="test_log_file_"/>
    <property name="LOG__DIR" value="./logs"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <logger name="io.qameta.allure.AllureLifecycle" level="OFF"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
       <filter class="ch.qos.logback.classic.filter.LevelFilter">
           <level>INFO</level>
           <onMatch>ACCEPT</onMatch>
           <onMismatch>DENY</onMismatch>
       </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <encoder>
                <pattern>
                    %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG__DIR}/${LOG__FILE}%d{yyyy-MM-dd}_%d{HH:mm}.log</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <encoder>
                <pattern>
                    %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </layout>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="SIMPLEAPPENDER" class="ru.instamart.kraken.appender.SimpleAppender">
        <encoder>
            <pattern>%date [%level] [%logger{0}] %message%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="SIMPLEAPPENDER"/>
    </root>
</configuration>
